<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('common/links'); %>
</head>

<body>
    <%- include('common/navbar'); %>
        <div class="container-fluid">
            <div class="row" style="margin-top: 1%">
                <div class="col col-md-12">
                    <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
                        <i class="fas fa-plus"></i>
                        Create Session
                    </button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Description:</strong>
                                </div>
                                <div class=" col-md-8">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </div>
                            </div>

                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>SessionLink:</strong>
                                </div>
                                <div class=" col-md-8">
                                    www.youtube.com
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Prescription:</strong>
                                </div>
                                <div class=" col-md-8">
                                    <a href="./fil2" target="_blank"> Covid12.pdf </a>
                                </div>
                            </div>
                            </p>
                            <p>
                            <div class="row">
                                <div class=" col-md-4">
                                    <strong>Age Group:</strong>
                                </div>
                                <div class="col-md-8">
                                    12-18
                                </div>
                            </div>
                            </p>

                            <p >
                                <!-- Buttons trigger collapse -->
                                <strong class="" style="background-color: hsl(0, 0%, 94%);" data-mdb-toggle="collapse" href="#collapseExample"
                                    role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Comorbidities
                            </strong>
                                <div class="collapse mt-3" id="collapseExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                    squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident.
                                  </div>

                            </p>
                            <button type="button" class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('common/footer'); %>
</body>

</html>
<!--

-->