<!DOCTYPE html>
<html lang="">
<head>
    <title><%= title %></title>

    <%- include('common/links'); %>
</head>

<body>
<%- include('common/navbar',{auth:data.auth}); %>
<div class="card m-2">
    <div class="card-body">
        <h5 class="m-3" class="card-title">Create New Session</h5>

        <form class="p-5">
            <div class="row">
                <div class="col col-md-6">
                    <div class="row">
                        <label class="m-2 col-md-4 col-sm-12" for="session_topic">Topic: </label>
                        <input name="topic" class="m-2 col-md-6 col-sm-12" type="text" id="session_topic"/>
                    </div>

                    <div class="row">
                        <label class="m-2 col-md-4 col-sm-12 col-12" for="session_desc">Description: </label>
                        <textarea name="description" class="m-2 col-md-6 col-sm-12" type="text" id="session_desc"></textarea>
                    </div>

                    <div class="row">
                        <label class="m-2 col-md-4 col-sm-12" for="session_topic"
                        >Youtube Link:
                        </label>
                        <input name="session" class="m-2 col-md-6 col-sm-12" type="text" id="session_topic"/>
                    </div>

                    <div class="row">
                        <label class="m-2 col-md-4 col-sm-12" for="file">Upload Prescription </label>

                        <input name="prescription"
                               type="file"
                               class="btn btn-outline-secondary m-2 col-md-6 col-sm-12"
                               id="file"/>
                    </div>
                </div>
                <div class="col col-md-6">
                    <img src="/images/dash.svg" alt="img" class="img-fluid"/>
                </div>
            </div>
            <br/>

            <label class="col-md-4 col-sm-12" for="session_topic">Age Group: </label>
            <div class="row m-2">
                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="0M-1M"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        0 - 1 Months ( Neonates )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="2M-2Y"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        2 Months - 2 years ( Infants )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="3Y-12y"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        3 - 12 Years ( Children )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="13Y-18Y"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        13 - 18 Years ( Adulterants )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="19Y-30Y"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        19 - 30 Years ( Young Adults )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="31Y-60Y"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        31 -60 Years ( Adults )
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-8">
                    <input name="age"
                           class="form-check-input"
                           type="radio"
                           value="60Y-*"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Above 60 ( Senior Adults )</label
                    >
                </div>
            </div>

            <label class="m-2 col-md-4 col-sm-12" for="session_topic">Comorbidity: </label>
            <div class="row m-2">
                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Cancer"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Cancer
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Chronic kidney disease"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Chronic kidney disease
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Chronic lung diseases"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Chronic lung diseases
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Asthma"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Asthma
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="interstitial lung disease"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        interstitial lung disease
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Cystic fibrosis"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Cystic fibrosis
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Dementia"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Dementia
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Pulmonary hypertension"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Pulmonary hypertension
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Diabetes"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Diabetes
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Down syndrome"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Down syndrome
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Heart conditions"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Heart conditions
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="HIV infection"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        HIV infection
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Uncompromised state"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Uncompromised state
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Liver disease"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Liver disease
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Overweight and obesity"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Overweight and obesity
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Pregnancy"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Pregnancy
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Stroke"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Stroke
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Solid organ"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Solid organ
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="comborbidities" value="Sickle cell disease"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sickle cell disease
                    </label>
                </div>

            </div>

            <label class="m-2 col-md-4 col-sm-12" for="session_topic">Symptoms: </label>
            <div class="row m-2">
                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Headache"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Headache
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Fever"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Fever
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Body pain"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Body pain
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Cough"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Cough
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Diarrhea"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Diarrhea
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Nasal Congestion"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Nasal Congestion
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Tiredness"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Tiredness
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Sore Throat"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sore Throat
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Persistent pain"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Persistent pain
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Trouble Breathing"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Trouble Breathing
                    </label>
                </div>

                <div class="form-check col-md-4 col-sm-6">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="Symptons"
                            value="Stay Awake"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Stay Awake
                    </label>
                </div>
            </div>

            <div
                    class="row"
                    style="display: flex; align-items: center; justify-content: center">
                <button type="button" class="btn btn-outline-secondary m-4 col-6">
                    <i class="fas fa-plus"></i> Create Session
                </button>
            </div>
        </form>
    </div>
</div>

<%- include('common/footer'); %>
</body>
</html>
<!--
background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


-->
